.animated{
    animation-name: anico;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-direction:alternate-reverse;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    /* animation-delay:unset; */
}
@keyframes anico {
     0%{
       transform: translateY(10px);
     }
     100%{
      transform: translateY(-10px);
     }
}
.setd{
  height: 480px;
}